@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  background: #ffaf36;
  color: #000;
}

body {
  min-height: 100vh;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  padding: 0;
  margin: 0;
}

html {
  height: fill-available;
  height: -webkit-fill-available;
}
