@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  background: #ffaf36;
  color: #000;
}

html,
body {
  padding: 0;
  margin: 0;
}

.slick-next {
  right: -10px !important;
}

.slick-prev {
  left: -10px !important;
}

@keyframes pulse-custom {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
  }
  80% {
    box-shadow: 0 0 0 14px rgba(37, 211, 102, 0);
  }
}
.animate-pulse-custom {
  animation-name: pulse-custom;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.scroll-element::before,
.scroll-element::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 2px;
  border-top: transparent;
  border-left: transparent;
  animation: scroll 4s ease-in-out infinite;
}

.scroll-element::after {
  top: 80%;
  animation-delay: 2s;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(45deg) scale(0.5);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(45deg) scale(1.5);
  }
}
